coverage
dist
dist-ssr
node_modules
vite.config.ts.timestamp-*.mjs

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.njsproj
*.ntvs*
*.pem
*.sln
*.suo
*.sw?

.turbo
*.local
*.log
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
